<div class="resume-item d-flex flex-column flex-md-row mb-6">
  <div class="resume-content mr-auto">
  	
        <h3 class="mb-6">  <a style="font-weight: 500" href="{{ .Permalink }}">{{ .Params.title }}</a> </h3>  
 		<p>
 			{{ .Params.briefDescription }}
 		</p>
<!-- 		{{ with .Params.collaborators }}
 		<p>
 			<strong>Main collaborators:</strong> {{ . }}
 		</p>
 		{{ end }}-->
   <!--  <div>{{ .Params.description | safeHTML }}</div>
    <p>{{ partial "techtags" . }}</p> -->
  </div>
  
</div>
